*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
footer{
    background: lightblue;
}
ul{
    background: #000;
}
.container{
    background: floralwhite;
}